body {
  font-family: Segoe UI, Arial, sans-serif;
  font-size: 100%;
  margin: 40px 0 0 60px;
}
h1 {
  margin: 0;
  padding: 0;
}
h1, #reloj {
  font-family: HP Simplified, sans-serif;
}
.content {
  max-width: 300px;
  border: 1px solid lightgray;
  padding: 1.5em 2em 1.9em;
}
#reloj {
  text-align: right;
  font-size: 150%;
  float: right;
  padding: 5px 0;
}
#horasBarra, #minutosBarra, #segundosBarra {
  width: 100%;
  height: 10px;
  border: none;
}
#horasBarra::-moz-progress-bar {
  background-color: #638CA6;
}
#minutosBarra::-moz-progress-bar {
  background-color: #D93240;
}
#segundosBarra::-moz-progress-bar {
  background-color: #17A697;
}
